@import url('https://fonts.googleapis.com/css?family=PT+Serif:regular,italic,700,700italic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'PT Serif', sans-serif;

  }
  img{
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: block;

  }
  body{
    height: 100vh;
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#035e53, #374947);
    margin-left: 10px;
  }
 h1, p{
    color: rgb(192, 196, 255); 
 }
 main{
    padding: 50px;
 }
 header{
    box-shadow: 0 4px 30px rgba(0,0,0,0.2);
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
 }
 a {
    text-decoration: none;
    color:rgb(192, 196, 255);
 }
 #show-login {
    background-color: #5f7d95;
    color: rgb(192, 196, 255);
    border: none;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    width: 25%;
    cursor: pointer;
    
}
#show-login:hover{
    background-color: rgb(88, 92, 145);
    color: #66849c;
    transition: 0.3s;
    padding: 11px;
    border-radius: 10px;
}
 footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #5f7d95;
    width: 100%;
    text-align: center;
    padding: 1vh;
}

.popup {
  position:absolute;
  top:-150%;
  left:50%;
  opacity:0;
  transform:translate(-50%,-50%) scale(1.25);
  width:380px;
  padding:20px 30px;
  background:#4b7570;
  box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius:10px;
  transition:top 0ms ease-in-out 200ms,
             opacity 200ms ease-in-out 0ms,
             transform 200ms ease-in-out 0ms; 
}
.popup.active {
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
  transition:top 0ms ease-in-out 0ms,
             opacity 200ms ease-in-out 0ms,
             transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
  position:absolute;
  top:20px;
  right:20px;
  width:25px;
  height:25px;
  background:#888;
  color:#eee;
  text-align:center;
  line-height:25px;
  border-radius:25px;
  cursor:pointer;
}
.popup .form h2 {
  text-align:center;
  color:rgb(48, 45, 45);
  margin:10px 0px 20px;
  font-size:25px;
}
.popup .form .form-element {
  margin:15px 0px;
  text-align: center;
  padding: 0 16px;
  font-size: 18px;
}
.popup .form .form-element label {
  font-size:14px;
  font-weight: 700;
  color:rgb(48, 45, 45);
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="date"],
.popup .form .form-element input[type="number"],
.popup .form .form-element input[type="password"] {
  width:100%;
  outline:none;
  color: rgb(48, 45, 45);
  font-size: 14px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-shadow: 0 4px 30px rgba(71, 52, 112, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
}
.popup .form .form-element input[type="checkbox"] {
  margin-right:5px;
}
.popup .form .form-element button {
  width:100%;
  height:40px;
  border:none;
  outline:none;
  font-size:16px;
  background: rgb(48, 45, 45);
  color:#888;
  border-radius:10px;
  cursor:pointer;
}
.popup .form .form-element a {
  display:block;
  text-align:center;
  font-size:15px;
  color:#888;
  text-decoration:none;
  font-weight:600;
}
table {
    text-align: center;
    background: rgb#333;
    color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .display-table th, .display-table td{
    padding: 8px;
    margin: auto;
  }
  
  #btna td input{
    width: 100%;
  }

  .table-div{
    display: none;
  }

