* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#2196f3, #e91e63);
  }
 h1, p{
    color: rgb(192, 196, 255); 
 }
 main{
    padding: 50px;
 }
 header{
    box-shadow: 0 4px 30px rgba(0,0,0,0.2);
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
 }
 a {
    text-decoration: none;
    color:rgb(192, 196, 255);
 }
 button{
    background-color:#66849c;
    color: rgb(192, 196, 255);
    border: none;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    width: 40%;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(88, 92, 145);
    color: #66849c;
    transition: 0.3s;
    padding: 11px;
    border-radius: 10px;
}
 footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(138, 132, 132);
    width: 100%;
    text-align: center;
    padding: 1vh;
}
form {
    text-align: center;
    padding: 0 16px;
    font-size: 18px;
  }

  input[type=text], input[type="date"], input[type="number"], select {
    width: 100%;
    color: #294e6d;
    font-size: 14px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-shadow: 0 4px 30px rgba(58, 36, 107, 0.4);
    border-radius: 5px;
    box-sizing: border-box;
  }
  label{
    color: #214a6b;
  }
  #home , #compare {
    margin: auto;
    width: 70%;
  }

  
  table{
    
    text-align: center;
    background: rgb#333;
    color: #fff;
  
  }
  
  #show th, #show td{
    padding: 8px;
  }
  
  #btna td input{
    width: 100%;
  }
